PORT=3000
LOG_LEVEL=debug
NODE_ENV=local

REPO_DRIVER=

IS_OFFLINE=
AWS_REGION=us-east-1
ACCOUNTS_TABLE_NAME=money-transfer-api-accounts-dev
TRANSFERS_TABLE_NAME=money-transfer-api-transfers-dev
IDEMPOTENCY_TABLE_NAME=money-transfer-api-idempotency-dev
